.tab-container {
   
    width: 100%;
    
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    overflow: hidden;
   
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Blue for non-active tabs */
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
}

.tab:hover {
    background-color: #28a745; /* Darker blue on hover */
}

.tab.active {
    background-color: #28a745; /* Green for active tab */
    
}

.content-container {
    width: auto;
    margin:0% 15%;
   
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.content {
    display: none;
    animation: fadeIn 0.3s ease;
}

.content.active-content {
    display: block;
}
#search-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#suggestions {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: relative;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    background: #fff;
}

#suggestions div:hover {
    background: #f0f0f0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.select2-container .select2-selection {
    padding: 5px; /* Adjust the padding as needed */
}
